{% extends 'base.html' %}
{% block title %}
  楽曲検索
{% endblock %}
{% block content %}
<body>
    {% include 'search_form.html' %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if songs %}
        <ul>
            {% for song in songs %}
            <li>{{ song.title }} - {{ song.artist }}
                <a href="{% url 'song_detail' song.songid %}">詳細</a>
            </li>
        {% endfor %}
        </ul>

        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if songs.has_previous %}
                        <a href="?q={{ query }}&page=1">&laquo; トップへ</a>
                        <a href="?q={{ query }}&page={{ songs.previous_page_number }}">前のページへ</a>
                    {% endif %}

                    <span class="current">
                        第 {{ songs.number }} ページ，共 {{ songs.paginator.num_pages }} ページ
                    </span>

                    {% if songs.has_next %}
                        <a href="?q={{ query }}&page={{ songs.next_page_number }}">次のページへ</a>
                        <a href="?q={{ query }}&page={{ songs.paginator.num_pages }}">最後のページへ &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>結果がありませんでした</p>
    {% endif %}
</body>
{% endblock %}