{% extends 'base.html' %}
{% block title %}
  楽曲詳細
{% endblock %}
{% block content %}
<body>
    <h1>{{ song.title }}</h1>
    <p>アーティスト: {{ song.artist }}</p>
    <p>アルバム: {{ song.album|default:"未知" }}</p>
    
    {% if user.is_authenticated %}
        <form action="{% url 'order_song' song.songid %}" method="post">
            {% csrf_token %}
            <button type="submit">予約する</button>
        </form>
    {% else %}
        <p>ログインしてください</p>
    {% endif %}
    
    <a href="{% url 'search_songs' %}">検索結果に戻る</a>
</body>
{% endblock %}